<%= form_for @measurement, :html => { :class => "form-horizontal measurement" } do |f| %>

  <% if @measurement.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@measurement.errors.count, "error") %> prohibited this measurement from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @measurement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :temperature, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :temperature, :class => 'form-control' %>
    </div>
    <%=f.error_span(:temperature) %>
  </div>
  <div class="form-group">
    <%= f.label :humidity, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :humidity, :class => 'form-control' %>
    </div>
    <%=f.error_span(:humidity) %>
  </div>
  <div class="form-group">
    <%= f.label :lightLevel, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :lightLevel, :class => 'form-control' %>
    </div>
    <%=f.error_span(:lightLevel) %>
  </div>
  <div class="form-group">
    <%= f.label :device_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :device_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:device_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                measurements_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
